@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $background;
    color: $ligth;
}


#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}